/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.ancestor__container {
    position: relative;
}

.bg__bar__top {
    background-color: #009688;
    width: 100%;
    height: 150px;
}

.bg__page {
    background-color: #dadbd3;
    width: 100%;
    height: calc(100% - 150px);
    min-height: calc(100vh - 150px);
}

.app__container {
    width: 80%;
    min-width: 1000px;
    max-width: 1440px;
    height: 800px;
    margin: 0 auto;
    position: relative;
    top: -100px;
}

.avatar {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

/* rules app__container */

/* top bar app rules */
.app__top__bar {
    background-color: #eaeaea;
    width: 100%;
    height: 80px;
    display: flex;
}

.atb__left {
    width: 400px;
    height: 100%;
    border-right: solid 2px #b1b1b1;
}

.atb__right {
    width: calc(100% - 400px);
}

.atb__left, .atb__right {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slot__avatar__user, .slot__avatar__friend {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.slot__setting__icon {
    color: #b1b1b1;
    font-size: 20px;
}

.slot__setting__icon > i {
    margin-left: 20px;
}

/* body app rules */
.app__body {
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
}

.body_bar_left {
    background-color: #fff;
    width: 400px;
    height: 100%;
}

.silence__notific {
    background-color: #8edafc;
    width: 100%;
    height: 60px;
    padding: 10px;
    border-left: solid 2px #8edafc;
    display: flex;
    align-items: center;
}

.icon_silence {
    color: #8edafc;
    background-color: #fff;
    font-size: 25px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.silence__notific a {
    color: #6b7376;
}

.ctn__search__chat {
    width: 100%;
    height: 60px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.ctn__search__chat > div {
    color: #b1b1b1;
    font-size: 20px;
    width: 60px;
    height: 30px;
    padding: 3px;
    text-align: center;
    border-top: solid 1px #b1b1b1;
    border-bottom: solid 1px #b1b1b1;
    border-left: solid 1px #b1b1b1;
}

.search__chat {
    width: calc(100% - 60px);
    height: 30px;
    border-top: solid 1px #b1b1b1;
    border-bottom: solid 1px #b1b1b1;
    border-left: none;
    border-right: solid 1px #b1b1b1;
}

.friends__chat {
    width: 100%;
    height: calc(100% - 120px);
    overflow-y: auto;
}

.slot__chat__friend {
    padding: 10px 20px;
    border-bottom: solid 1px #b1b1b1;
    cursor: pointer;
}

.ctn__search__chat, .friends__chat {
    border-right: solid 2px #b1b1b1;
}

.ctn__chat {
    width: calc(100% - 400px);
    height: 100%;
}

.body__chat {
    background-image: url("../img/mine.jpg");
    width: 100%;
    height: calc(100% - 70px);
}

.ctn_input_send {
    background-color: #eaeaea;
    width: 100%;
    height: 70px;
}